#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  padding: 10px 20px;
  font-size: 13px;
  cursor: pointer;
  margin: 5px;
}

#deletebtn, .resetBtn {
  color: red;
}

#viewbtn, .submitBtn{
  color: green;
}


.background {
  background-color: greenyellow;
}

.main {
  background-color: cadetblue;
}

.bg-body-tertiary {
  background-color: darkseagreen;
}

.pups{
 background-color:rgb(162, 231, 162);
}

.player, .containers {
  background-color: rgb(124, 188, 244);

}